<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ml.shop_admin.mapper.seller.SellerMapper">
    <!--*****************新增商家*****************-->
    <insert id="addSeller">
        insert into seller
        values (null ,#{seller.sellerName},#{seller.mark})
    </insert>
    <!--*****************按照id删除商家*****************-->
    <delete id="delSeller">
        delete from seller where id = #{id}
    </delete>
    <!--*****************按照id查询商家*****************-->
    <select id="selById" resultType="Seller">
        select * from seller where id = #{id}
    </select>
    <!--*****************按照id更新商家*****************-->
    <update id="updateSeller">
        update seller
        set sellerName = #{seller.sellerName},
        mark = #{seller.mark}
        where id = #{seller.id}
    </update>
    <!--*****************按照名字模糊查询商家*****************-->
    <select id="selByName" resultType="Seller">
        select *
        from seller
        where sellerName like concat('%',#{name},'%')
    </select>
    <!--*****************分页查询商家*****************-->
    <select id="selByPage" resultType="Seller">
        select *
        from seller
        limit #{pageNum},5
    </select>
    <!--*****************查询商家总量*****************-->
    <select id="selNum" resultType="int">
        select count(*) from seller
    </select>
</mapper>